<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xing.module.video">

    <application
        android:name=".debug.ModuleVideoApplication"
        android:allowBackup="false"
        android:theme="@style/AppTheme">
        <activity android:name=".debug.ModuleVideoMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>