<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xing.module.mine">

    <application
        android:name=".ModuleMineApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".ShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
